@charset "utf-8";


body, html{height:100%;}
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {margin:0;padding:0;}
body, button, input, select, table, textarea {font-size:14px;line-height:170%;color:#4B4B4B;font-weight:400;font-family:'Pretendard',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI','Malgun Gothic','맑은 고딕',Dotum,'돋움',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji';}
h1, h2, h3, h4, h5, h6 {font-size:inherit;line-height:inherit}
textarea {-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:transparent;border:0;word-break:keep-all;word-wrap:break-word}
button, input {-webkit-border-radius:0;border-radius:0;border:0}
button {background-color:transparent;cursor: pointer;}
button:focus{outline:none;}
button:focus-visible {outline:3px solid #BFDEFF;border-radius:4px;}
fieldset, img {border:0}
img {max-width:100%;vertical-align:top}
ol, ul {list-style:none}
address, em {font-style:normal}
a {display:inline-block;color:inherit;text-decoration:none;}
a:hover {color:inherit;text-decoration:none;}
iframe {overflow:hidden;margin:0;border:0;padding:0;vertical-align:top}
mark {background-color:transparent}
i {font-style:normal}
span, a, strong{display:inline-block;}
table{border-spacing:0px;border-collapse:collapse;}
:root {overflow-wrap:break-word;}

/* scrollBar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-button {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

/* input */
[type=checkbox], [type=radio] {box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {height:auto}
[type=search] {-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration {-webkit-appearance:none}
::-webkit-file-upload-button {-webkit-appearance:button;font:inherit}

input::-ms-clear,
input::-ms-reveal{
    display:none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

.skip{width: 1px; height: 1px; font-size: 0; line-height: 0; overflow: hidden; visibility: hidden; position: absolute; left: -9999px;}
h1, h2{line-height:130%;}


