.btn {
  display:inline-flex;
  align-items: center;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;
}
.btn--primary {
  color: #fff;
  background-color: var(--bg-color-primery);
}
.btn--secondary {
  color: var(--text-color-gray-300);
  background-color: transparent;
  border:1px solid var(--border-color-stepDefault);
}
.btn--tertiary {
  color: var(--text-color-primary);
  background-color: transparent;
  border:1px solid var(--border-color-primery);
}
.btn--ghost {
  color: var(--text-color-gray-300);
  background-color: transparent;
  border:transparent;
}

.btn--small {
  font-size: 13px;
  height:26px;
  padding:0 8px;
}
.btn--medium {
  font-size: 14px;
  font-weight:600;
  height:32px;
  padding:0 16px;
}
.btn--large {
  font-size: 15px;
  font-weight:600;
  height:36px;
  padding:0 16px;
}
.btn--xlarge {
  font-size: 16px;
  font-weight:600;
  height:44px;
  padding:0 24px;
}


.btn--icoOnly{
  padding:0;
  justify-content:center;
}
.btn--icoOnly .label{
  font-size:0;
  position:absolute;
  text-indent:-99999px;
  top:-99999px;
  left:-99999px;
}
.btn--icoOnly.btn--small{
  width:26px;
}
.btn--icoOnly.btn--medium{
  width:32px;
}
.btn--icoOnly.btn--large{
  width:36px;
}
.btn--icoOnly.btn--xlarge{
  width:44px;
}
button:hover {}
button:active {}
button:focus {}
button:focus-visible {}