.btn {
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.btn--primary {
  color: #fff;
  background-color: var(--bg-color-primery);
}
.btn--secondary {
  color: #333;
  background-color: transparent;
  border:1px solid var(--border-color-stepDefault);
}
.btn--small {
  font-size: 13px;
  height:26px;
  padding:0 8px;
}
.btn--medium {
  font-size: 14px;
  font-weight:600;
  height:36px;
  padding:0 16px;
}
.btn--large {
  font-size: 15px;
  font-weight:600;
  height:40px;
  padding:0 16px;
}
.btn--xlarge {
  font-size: 16px;
  font-weight:600;
  height:48px;
  padding:0 24px;
}
